################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/JFramework/x64/Debug
/x64/Debug
/JFrameworkTest/x64/Debug
packages
JFramework/Debug
Debug
JFramework/x64
UnitTest/x64
x64
JFramework/Release
Release
